:root {
  --nav: 330px;
  --view-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

main {
  width: 100%;
  box-sizing: border-box;
}

main > aside > .box {
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  /* border: 1px solid #000; */
}

li {
  list-style: none;
}
